In [47]:
import pandas as pd
import io
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [48]:
df = pd.read_csv("Churn_Modelling.csv")
print(df)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [49]:
# Finding Missing Values
print(df.isnull().sum())

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [50]:
#Check for Duplicates
df.duplicated().sum

<bound method Series.sum of 0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool>

In [51]:
#Detect Outliers
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [52]:
df= df.drop(['Surname', 'Geography','Gender'], axis=1)
print(df)

      RowNumber  CustomerId  CreditScore  Age  Tenure    Balance  \
0             1    15634602          619   42       2       0.00
1             2    15647311          608   41       1   83807.86
2             3    15619304          502   42       8  159660.80
3             4    15701354          699   39       1       0.00
4             5    15737888          850   43       2  125510.82
...         ...         ...          ...  ...     ...        ...
9995       9996    15606229          771   39       5       0.00
9996       9997    15569892          516   35      10   57369.61
9997       9998    15584532          709   36       7       0.00
9998       9999    15682355          772   42       3   75075.31
9999      10000    15628319          792   28       4  130142.79

      NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0                 1          1               1        101348.88       1
1                 1          0               1        112542.58       0
2                 3          1               0        113931.57       1
3                 2          0               0         93826.63       0
4                 1          1               1         79084.10       0
...             ...        ...             ...              ...     ...
9995              2          1               0         96270.64       0
9996              1          1               1        101699.77       0
9997              1          0               1         42085.58       1
9998              2          1               0         92888.52       1
9999              1          1               0         38190.78       0

[10000 rows x 11 columns]

In [53]:
#Normalize the dataset
scaler = MinMaxScaler()
df1 = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
print(df1)

      RowNumber  CustomerId  CreditScore       Age  Tenure   Balance  \
0        0.0000    0.275616        0.538  0.324324     0.2  0.000000
1        0.0001    0.326454        0.516  0.310811     0.1  0.334031
2        0.0002    0.214421        0.304  0.324324     0.8  0.636357
3        0.0003    0.542636        0.698  0.283784     0.1  0.000000
4        0.0004    0.688778        1.000  0.337838     0.2  0.500246
...         ...         ...          ...       ...     ...       ...
9995     0.9996    0.162119        0.842  0.283784     0.5  0.000000
9996     0.9997    0.016765        0.332  0.229730     1.0  0.228657
9997     0.9998    0.075327        0.718  0.243243     0.7  0.000000
9998     0.9999    0.466637        0.844  0.324324     0.3  0.299226
9999     1.0000    0.250483        0.884  0.135135     0.4  0.518708

      NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          0.000000        1.0             1.0         0.506735     1.0
1          0.000000        0.0             1.0         0.562709     0.0
2          0.666667        1.0             0.0         0.569654     1.0
3          0.333333        0.0             0.0         0.469120     0.0
4          0.000000        1.0             1.0         0.395400     0.0
...             ...        ...             ...              ...     ...
9995       0.333333        1.0             0.0         0.481341     0.0
9996       0.000000        1.0             1.0         0.508490     0.0
9997       0.000000        0.0             1.0         0.210390     1.0
9998       0.333333        1.0             0.0         0.464429     1.0
9999       0.000000        1.0             0.0         0.190914     0.0

[10000 rows x 11 columns]

In [54]:
#split the dataset into input and output
X = df1.drop('Exited', axis=1)
y = df1['Exited']
print(X,y)

      RowNumber  CustomerId  CreditScore       Age  Tenure   Balance  \
0        0.0000    0.275616        0.538  0.324324     0.2  0.000000
1        0.0001    0.326454        0.516  0.310811     0.1  0.334031
2        0.0002    0.214421        0.304  0.324324     0.8  0.636357
3        0.0003    0.542636        0.698  0.283784     0.1  0.000000
4        0.0004    0.688778        1.000  0.337838     0.2  0.500246
...         ...         ...          ...       ...     ...       ...
9995     0.9996    0.162119        0.842  0.283784     0.5  0.000000
9996     0.9997    0.016765        0.332  0.229730     1.0  0.228657
9997     0.9998    0.075327        0.718  0.243243     0.7  0.000000
9998     0.9999    0.466637        0.844  0.324324     0.3  0.299226
9999     1.0000    0.250483        0.884  0.135135     0.4  0.518708

      NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary
0          0.000000        1.0             1.0         0.506735
1          0.000000        0.0             1.0         0.562709
2          0.666667        1.0             0.0         0.569654
3          0.333333        0.0             0.0         0.469120
4          0.000000        1.0             1.0         0.395400
...             ...        ...             ...              ...
9995       0.333333        1.0             0.0         0.481341
9996       0.000000        1.0             1.0         0.508490
9997       0.000000        0.0             1.0         0.210390
9998       0.333333        1.0             0.0         0.464429
9999       0.000000        1.0             0.0         0.190914

[10000 rows x 10 columns] 0       1.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    1.0
9998    1.0
9999    0.0
Name: Exited, Length: 10000, dtype: float64

In [55]:
#splitting the data for training & Testing
X_train ,X_test ,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [56]:
#Print the training data and testing data
print("X_train:\n", X_train)
print("X_test:\n", X_test)
print("y_train:\n", y_train)
print("y_test:\n", y_test)

X_train:
       RowNumber  CustomerId  CreditScore       Age  Tenure   Balance  \
6433   0.643364    0.034674        0.130  0.472973     0.5  0.666643
815    0.081508    0.216038        0.790  0.094595     0.5  0.629710
8692   0.869287    0.757781        1.000  0.189189     0.8  0.000000
1752   0.175218    0.635088        0.788  0.310811     0.2  0.335249
1730   0.173017    0.310962        1.000  0.027027     0.7  0.000000
...         ...         ...          ...       ...     ...       ...
911    0.091109    0.723188        0.596  0.472973     0.6  0.443213
7319   0.731973    0.785411        0.248  0.256757     0.5  0.568711
3729   0.372937    0.528027        0.760  0.148649     0.2  0.000000
2157   0.215722    0.739825        0.788  0.351351     0.3  0.000000
980    0.098010    0.236122        0.488  0.121622     0.0  0.785346

      NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary
6433       0.000000        1.0             1.0         0.111739
815        0.333333        1.0             0.0         0.730219
8692       0.333333        1.0             1.0         0.277938
1752       0.000000        1.0             0.0         0.987780
1730       0.333333        1.0             0.0         0.156401
...             ...        ...             ...              ...
911        0.000000        1.0             1.0         0.607712
7319       0.333333        1.0             1.0         0.554762
3729       0.333333        1.0             0.0         0.070819
2157       0.333333        1.0             1.0         0.945113
980        0.000000        0.0             0.0         0.759577

[8000 rows x 10 columns]
X_test:
       RowNumber  CustomerId  CreditScore       Age  Tenure   Balance  \
7875   0.787579    0.837649        0.694  0.270270     0.1  0.725657
5414   0.541454    0.138630        0.290  0.297297     0.1  0.558783
945    0.094509    0.574401        0.694  0.094595     0.5  0.330540
3443   0.344334    0.164223        0.494  0.378378     0.4  0.000000
7976   0.797680    0.375837        0.998  0.229730     0.4  0.441764
...         ...         ...          ...       ...     ...       ...
6269   0.626963    0.675730        0.604  0.243243     0.1  0.000000
8723   0.872387    0.950046        0.000  0.445946     1.0  0.000000
2389   0.238924    0.584522        0.610  0.229730     0.1  0.327749
7414   0.741474    0.948714        0.774  0.364865     0.2  0.395259
9957   0.995800    0.426163        0.566  0.094595     0.1  0.000000

      NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary
7875       0.000000        1.0             0.0         0.247483
5414       0.333333        1.0             0.0         0.753616
945        0.333333        1.0             1.0         0.641873
3443       0.333333        1.0             0.0         0.293306
7976       0.000000        0.0             0.0         0.632101
...             ...        ...             ...              ...
6269       0.333333        1.0             1.0         0.096465
8723       0.000000        1.0             1.0         0.629121
2389       0.333333        1.0             0.0         0.443975
7414       0.333333        1.0             1.0         0.393234
9957       0.000000        1.0             0.0         0.502985

[2000 rows x 10 columns]
y_train:
 6433    0.0
815     0.0
8692    0.0
1752    0.0
1730    0.0
       ...
911     0.0
7319    0.0
3729    0.0
2157    0.0
980     0.0
Name: Exited, Length: 8000, dtype: float64
y_test:
 7875    0.0
5414    0.0
945     0.0
3443    1.0
7976    0.0
       ...
6269    0.0
8723    1.0
2389    0.0
7414    0.0
9957    0.0
Name: Exited, Length: 2000, dtype: float64